<div class="nav-side-menu" style="position: fixed; margin-top:80px; margin-left:10px; width:18%; height:100%">
  <div class="brand">Filters</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
      <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
              <li>
                <i style="position:relative; left:87px" class="fa fa-dashboard fa-lg"><a [routerLink]="['/home']" >Back to Home Page</a></i>
              </li>
              <li>
                <i style="position:relative; left:87px" class="fa fa-dashboard fa-lg"><a [routerLink]="['/home']" >Back to Home Page</a></i>
              </li>
          </ul>
   </div>
</div>


<div style=" position:absolute; left:300px; top:100px; " >
  <div *ngFor="let item of cartItems" style=" position:relative; display:inline-block" >
    <ul style="list-style-type: none">
      <li><img src={{item.img}} /></li>
      <li><b>    Product Name: {{item.name}}      </b></li>
      <li><b>    Brand: {{item.brand}}      </b></li>
      <li><b>    Price: Rs.{{item.price}}/day      </b></li>
      <li class="dropdown" style=" padding-left:10px">
        Rent for : <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        No. of days
        </button> days
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="position:relative; top:20px;text-align:center">
          <a class="dropdown-item" (click)="setExpiryDate(1)"> 1 </a>
          <a class="dropdown-item" (click)="setExpiryDate(1)"> 2 </a>
          <a class="dropdown-item" (click)="setExpiryDate(1)"> 3 </a>
          <a class="dropdown-item" (click)="setExpiryDate(1)"> 4 </a>
          <a class="dropdown-item" (click)="setExpiryDate(1)"> 5 </a>
        </div>
      </li>
    </ul>
  </div>
  
  <span *ngIf="cartItems.length > 0"  style="position:relative; top:20px">
    <button [disabled]="cartItems.length == 0" class="btn btn-secondary text-center" [routerLink]="['/rentnow']" (click)="cartNow(cartItems)">Proceed to Payment</button>
  </span>

  <span *ngIf="cartItems.length == 0">
    <h2  style="position:fixed; left:46%; top:40%; font-family:cursive; color:rgb(90,90,90)"><strong> Your Cart is Empty </strong></h2>
    <button  style="position:fixed; left:50%; top:50%" [disabled]="cartItems.length == 0" class="btn btn-secondary text-center" [routerLink]="['/rentnow']" (click)="cartNow(cartItems)">Proceed to Payment</button>
  </span>

</div>